.animationStar {
  animation-name: starAnimation;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes starAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
