@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;500&family=Prata&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
:root {
  --background: #0a1128;
  --second-background: #00000020;
  --third-background: #ffffff07;
  --contrast: #007a50;

  --2: #001f54;
  --3: #034078;
  --4: #1282a2;
  --5: #fefcfb;

  --font-family-1: "Montserrat", sans-serif;
  --font-family-2: "Dancing Script", cursive;
  --font-family-3: "Prata", serif;

  --font-size-nav: 18px;
  --font-weight-nav: 500;
  --font-letter-spacing-nav: 2px;

  --font-size-logo: 32px;
  --font-weight-logo: 700;

  --font-size-text: 16px;
  --font-weight-text: 400;

  --font-size-subtitle: 28px;
  --font-weight-subtitle: 500;
  --font-letter-spacing--subtitle: 3px;

  --font-size-contrast: 22px;
  --font-weight-contrast: 700;

  --font-size-banner: 42px;
  --font-weight-banner: 500;
  --font-letter-spacing-banner: 2px;

  --page-width: 1100px;
}
@media (max-width: 450px) {
  :root {
    --font-size-banner: 36px;
  }
}
@media (max-width: 400px) {
  :root {
    --font-size-banner: 32px;
    --font-size-subtitle: 24px;
  }
}
@media (max-width: 370px) {
  :root {
    --font-size-logo: 25px;
    --font-weight-logo: 700;
  }
  :root {
    --font-size-banner: 26px;
  }
}
body {
  background-color: var(--background);
}
img {
  z-index: 0;
}
.container {
  width: var(--page-width);
  max-width: 100%;
  margin: 0 auto;
  padding-top: 75px;
  padding-right: 50px;
  padding-bottom: 75px;
  padding-left: 50px;
  box-sizing: border-box;
}
@media (max-width: 700px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
p {
  font-family: var(--font-family-3);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-text);
  line-height: 145%;
  letter-spacing: 0.5px;
  color: var(--5);
}
h3 {
  font-family: var(--font-family-1);
  letter-spacing: var(--font-letter-spacing--subtitle);
  font-weight: var(--font-weight-subtitle);
  font-size: var(--font-size-subtitle);
  color: var(--5);
}
h4 a {
  color: var(--contrast);
}
h3 {
  width: min-content;
  white-space: nowrap;
}
h3:after {
  content: "";
  display: block;
  margin: 5px 0 20px 0;
  width: 100%;
  height: 2px;
  background-color: var(--5);
}
h4 {
  font-family: var(--font-family-1);
  letter-spacing: var(--font-letter-spacing-contrast);
  font-size: var(--font-size-contrast);
  color: var(--5);
  line-height: 160%;
}

/* Header */

header {
  background-color: var(--second-background);
  height: 75px;
  display: flex;
  position: fixed;
  width: 100vw;
  max-width: 100%;
  z-index: 1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
header .headerContainer {
  width: var(--page-width);
  max-width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 700px) {
  header .headerContainer {
    padding: 0 20px;
  }
}
header h2 {
  font-size: var(--font-size-logo);
  font-weight: var(--font-weight-logo);
  font-family: var(--font-family-2);
  color: var(--5);
}
header nav {
  display: flex;
}
header nav .button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  cursor: pointer;
}
header nav .button .row {
  content: "";
  width: 40px;
  height: 3px;
  background-color: var(--5);
}
header nav .menu-items {
  display: flex;
  align-items: center;
}
header nav > .menu-items > li + li {
  margin-left: 12px;
}
header nav > .menu-items > li a {
  color: var(--5);
  font-size: var(--font-size-nav);
  font-weight: var(--font-weight-nav);
  font-family: var(--font-family-1);
  padding: 4px;
  letter-spacing: var(--font-letter-spacing-nav);
}
header nav > .menu-items > li:last-child a {
  background-color: var(--contrast);
  padding: 10px 15px;
  border: 1px solid var(--5);
}

@media (max-width: 850px) {
  header nav .button {
    display: flex;
  }
  header nav > .menu-items {
    display: none;
  }
  header nav.active {
    position: relative;
  }
  header nav.active ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0%;
    gap: 20px;
    top: 70px;
    padding: 10px 5px 20px 5px;
  }
  header nav.active ul li + li {
    margin-left: 0;
  }
  header nav.active ul li {
    text-align: center;
    width: 100%;
    background-color: #081130;
    border: 1px solid var(--5);
    padding: 10px;
  }
  header nav.active li:last-child {
    background-color: var(--contrast);
  }
  header nav.active li:last-child a {
    background-color: unset;
    padding: 0 0;
    border: none;
  }
}

/*  */
/*  */
/* Banner */
/*  */
/*  */

section#banner {
  padding-top: 75px; /* 75px header + 75px space */
  color: var(--5);
  background-color: var(--third-background);
}
section#banner h1 {
  font-size: var(--font-size-banner);
  font-weight: var(--font-weight-banner);
  font-family: var(--font-family-1);
  letter-spacing: var(--font-letter-spacing-banner);
  margin-left: -3px; /* Spacing correction */
}
section#banner h2 {
  color: #ffffff50;
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-banner);
  font-family: var(--font-family-1);
  letter-spacing: var(--font-letter-spacing-banner);

  margin-top: 10px;
  margin-bottom: 15px;
}
section#banner h2:after {
  content: "";
  display: flex;
  width: 50%;
  height: 2px;
  margin-top: 5px;
  background-color: #ffffff50;
}
section#banner .contact {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
section#banner .contact a {
  display: flex;
  position: relative;

  font-family: var(--font-family-3);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-text);
  line-height: 145%;
  letter-spacing: 0.5px;
  color: var(--5);
}

section#banner .contact a:after {
  content: "";
  display: flex;
  position: absolute;
  bottom: -3px;
  height: 2px;
  background-color: white;
  width: 100%;
  opacity: 0;
  transition: opacity 300ms;
}
section#banner .contact a:hover:after {
  opacity: 1;
}
section#banner .contact .line {
  display: flex;
  width: 15px;
  height: 2px;
  margin: 0 10px;
  background-color: white;
}

/* About */

section#about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}
section#about .img {
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  position: relative;
}
section#about img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section#about .text p {
  margin-bottom: 15px;
}
@media (max-width: 750px) {
  section#about {
    display: flex;
  }
  section#about .img {
    display: none;
  }
}

/* Works */

section#works {
  background-color: var(--third-background);
}
section#works .work {
  margin-top: 60px;
}

section#works .work-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 45px;
  grid-template-areas:
    "title site"
    "text site";
}
section#works .work:nth-child(odd) .work-container {
  grid-template-areas:
    "site title"
    "site text";
}
section#works .work h4:first-child {
  margin-top: 5px;
  margin-bottom: 14px;
  font-family: var(--font-family-1);
  letter-spacing: var(--font-letter-spacing--subtitle);
  font-weight: var(--font-weight-subtitle);
  font-size: var(--font-size-subtitle);
  grid-area: title;
}
section#works .work-container h4 {
  margin-top: 10px;
}
section#works .work .text {
  grid-area: text;
}
section#works .work .text p + p {
  margin-top: 10px;
}

/* Works > Sites */

section#works .site {
  position: relative;
  grid-area: site;
  max-height: 400px;
}
section#works .work h4:first-child a {
  color: var(--contrast);
}
section#works .site .site-web {
  border-radius: 25px;
  border: 12px solid #000;
  overflow: hidden;
  position: relative;
  width: 90%;
  height: 90%;
}
section#works .site .site-mobile {
  border-radius: 15px;
  border: 5px solid #000;
  overflow: hidden;
  position: absolute;
  width: 175px;
  max-width: 100%;
  height: 83%;
  right: 0;
  top: 15%;
}
section#works .site .site-web img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
section#works .site .site-mobile img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
@media (max-width: 800px) {
  section#works .work-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 350px;
    gap: 0;
    grid-template-areas:
      "title"
      "text"
      "site";
  }
  section#works .work + .work .work-container {
    grid-template-areas:
      "title"
      "text"
      "site";
  }
  section#works .text {
    margin-bottom: 25px;
  }
  section#works .site .site-mobile {
    width: 35%; /*  */
    max-width: 100%;
    height: 90%;
    top: 10%;
  }
}
@media (max-width: 600px) {
  section#works .work-container {
    grid-template-rows: auto auto 200px;
  }
  section#works .site .site-mobile {
    width: 30%; /*  */
    right: 0;
  }
}
