.animationStar {
  animation-name: starAnimation;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  user-select: none;
  pointer-events: none;
}

@keyframes starAnimation {
  0% {
    opacity: 0.75;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.85;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
