.header {
  backdrop-filter: blur(30px);
  background: rgba(0, 0, 0, 0.18);
  box-sizing: border-box;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  padding: 15px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .containerLogo * {
      color: var(--color-primary-25);
      line-height: 100%;
    }

    .containerNav {
      display: flex;

      .curriculum {
        color: var(--color-tertiary-500);
        display: flex;
        align-self: center;
        @media (min-width: 1200px) {
          display: none;
        }
      }

      .openCloseMenu {
        margin-left: 30px;
        @media (min-width: 1200px) {
          display: none;
        }

        .closeMenu {
          height: 0px;
          width: 0px;
          overflow: hidden;
        }
      }

      .menuNav {
        height: 0px;
        width: 0px;
        overflow: hidden;

        @media (min-width: 1200px) {
          height: initial;
          width: initial;
          overflow: initial;
        }

        .curriculum {
          color: var(--color-tertiary-500);
        }

        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5px;

          @media (min-width: 1200px) {
            flex-direction: row;
          }

          a {
            color: var(--color-primary-25);
            font-size: 1.25rem;
            padding: 5px 7px;
            display: flex;
            width: min-content;
            white-space: nowrap;
            transition: color 0.25s;

            &:hover {
              color: var(--color-tertiary-500);
            }
          }
        }

        &.active {
          width: 100vw;
          overflow: visible;
          position: fixed;
          top: 45%;
          left: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 9;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .header.active {
    height: 100vh;
    background-color: var(--menu-background-active-mobile);
    backdrop-filter: blur(25px);

    &::after {
      content: '';
      display: flex;
      background-color: var(--color-primary-25);
      width: 100%;
      position: absolute;
      left: 0;
      top: 3.75rem;
      height: 2px;

      @media (min-width: 768px) {
        top: 5rem;
      }
    }

    .container {
      .containerNav {
        & > .curriculum {
          display: none;
        }

        .openCloseMenu {
          .closeMenu {
            height: initial;
            width: initial;
            overflow: initial;
          }
          .openMenu {
            height: 0px;
            width: 0px;
            overflow: hidden;
          }
        }

        .menuNav {
          height: Calc(100vh - 5rem - 25px);
          max-height: 100%;
          width: 100vw;
          position: fixed;
          left: 0px;
          top: Calc(5rem + 25px);
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 9;
          overflow-x: hidden;
          ul {
            overflow-y: auto;
            height: min-content;
            max-height: 90%;
            width: 90%;
            padding: 7px 0;
            justify-content: flex-start;
            gap: 25px;
            a {
              white-space: nowrap;
            }
            & .curriculum {
              color: var(--color-tertiary-500);
            }
          }
        }
      }
    }
  }
}
