.projectsSection {
  background: linear-gradient(
    var(--color-primary-750) 10%,
    var(--color-primary-650)
  );
  .projectsContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 38px;
    @media (min-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
