.homeBanner {
  min-height: 60vh;
  display: flex;
  padding: 0px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(#03000f 20%, #030240);

  .mainTitle {
    white-space: pre-line;
    text-align: center;
  }
}
