.homeBanner {
  min-height: 60vh;
  display: flex;
  padding: 0px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(
    var(--color-primary-1000) 20%,
    var(--color-primary-850)
  );

  .mainTitle {
    white-space: pre-line;
    text-align: center;
  }
}
