#homeBanner {
  min-height: 60vh;
  display: flex;
  margin-top: 5.625rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background: linear-gradient(#03000f 20%, #030240);

  .mainTitle {
    white-space: pre-line;
    color: var(--color-primary-25);
    text-align: center;
  }
}
