.TitleWithStarContent {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  max-width: 100%;
  flex-wrap: wrap;

  img {
    display: flex;
    align-self: center;
  }

  @media (max-width: 768px) {
    &.TitleWithStarContentReverse {
      flex-direction: row-reverse;
    }
  }

  @media (min-width: 1200px) {
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 46px;
  }
}
