.experienceAndAcademicSection {
  background: linear-gradient(
    var(--color-primary-650),
    var(--color-primary-650)
  );
  .experienceContents {
    display: grid;
    grid-template-columns: 1fr;
    gap: 80px;
    position: relative;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      gap: 26px;
    }
    @media (min-width: 1200px) {
      grid-template-columns: 1fr auto 1fr;
    }
  }

  .experienceBoltContent {
    display: none;

    @media (min-width: 1200px) {
      width: 220px;
      display: flex;
    }

    .experienceBoltImage {
      width: 220px;
      background-image: url('/icons/others/bolt-white.svg');
      background-position: center;
      background-size: cover;

      animation: AnimationBold 5s infinite alternate-reverse ease-in;
      position: absolute;
      top: -100px;
      height: calc(100% + 200px);
    }
  }
}

@keyframes AnimationBold {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
