.experienceAndAcademicSection {
  background: linear-gradient(
    var(--color-primary-800),
    var(--color-primary-850)
  );
  .experienceContents {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
  }
}
