.ExtraLargeClousDivider {
  width: 100%;
  overflow: hidden;
  height: 100px;
  @media (min-width: 768px) {
    height: 200px;
  }
  @media (min-width: 1200px) {
    height: 275px;
  }
  @media (min-width: 1400px) {
    height: calc(200px + 5vw + 5vh);
  }

  background-color: var(--color-primary-750);
  position: relative;

  .ExtraLargeClousImages {
    position: absolute;
    bottom: 0px;
    width: min-content;
  }

  .ExtraLargeClousImages:nth-child(1) {
    height: 100%;
    object-fit: cover;
  }
  .ExtraLargeClousImages:nth-child(2) {
    height: 78%;
  }
  .ExtraLargeClousImages:nth-child(3) {
    height: 58%;
    left: -5%;
  }
  .ExtraLargeClousImages:nth-child(4) {
    height: 58%;
    right: -5%;
  }

  /*   .ExtraLargeClousImages:nth-child(2) {
    right: -50vw;
  }
  .ExtraLargeClousImages:nth-child(3) {
    object-fit: cover;
    height: 100%;
  } */
}
