.ExtraLargeClousDivider {
  display: flex;
  overflow: hidden;
  .ExtraLargeClousContent {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    height: 200px;
    @media (min-width: 768px) {
      height: 250px;
    }
    @media (min-width: 1200px) {
      height: 275px;
    }
    @media (min-width: 1400px) {
      height: calc(200px + 5vw + 5vh);
    }
    @media (min-width: 2500px) {
      height: calc(15vw + 10vh);
    }

    position: relative;

    .ExtraLargeClousImages {
      position: absolute;
      bottom: 0px;
      width: max-content;
      pointer-events: none;
      user-select: none;
      display: flex;
      object-fit: cover;
      object-position: center bottom;
      left: 50%;
      transform: translateX(-50%);
    }

    .ExtraLargeClousImages:nth-child(1) {
      height: 100%;
    }

    .ExtraLargeClousImages:nth-child(2) {
      height: 80%;
    }
    .ExtraLargeClousImages:nth-child(3) {
      height: 58%;
      @media (min-width: 768px) {
        height: 50%;
      }
      @media (min-width: 1200px) {
        height: 58%;
        left: -6%;
        transform: initial;
      }
    }
    .ExtraLargeClousImages:nth-child(4) {
      height: 58%;
      object-fit: contain;
      @media (min-width: 768px) {
        object-fit: cover;
      }
      @media (min-width: 1200px) {
        left: initial;
        transform: inherit;
        right: -6%;
      }
    }
  }
}

/* @keyframes ExtraLargeClousDividerAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
} */
