.aboutMeSection {
  background: linear-gradient(
    var(--color-primary-850) 50%,
    var(--color-primary-800)
  );
  display: flex;
  align-items: center;

  .aboutMeSectionContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    .aboutMeImage {
      width: 500px;
      height: 100%;
      max-width: 100%;
      @media (min-width: 768px) {
        margin-left: auto;
      }
    }

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      .textContent {
        order: -1;
      }
    }
  }
}
