.SeeMoreClean {
  color: var(--color-tertiary-450);
  padding: 5px 2px;
  display: flex;
  align-items: center;
  width: max-content;
  gap: 6px;
  &.actived img {
    transform: rotate(180deg);
  }
}
