.CreateCloudsOnRow {
  position: relative;
  height: min-content;
  overflow-x: hidden;
  max-width: 100%;
  min-height: 122px;
}

.cloudsRow {
  display: flex;
  gap: 118px;
  &:first-child {
    bottom: 0px;
    margin-left: 118px;
  }
}
