.CreateCloudsOnRow {
  position: relative;
  height: min-content;
  overflow-x: hidden;
  max-width: 100%;
}

.cloudsRow {
  display: flex;
  gap: 117px;
  &:first-child {
    bottom: 0px;
    margin-left: 117px;
  }
}
