.knowledgesSection {
  background: linear-gradient(
    var(--color-primary-800) 10%,
    var(--color-primary-750)
  );
  max-width: 100%;
  overflow: hidden;
  @media screen and (pointer: coarse) and (max-width: 1200px) {
    .airplanesMaxWidth {
      padding: 0px;
    }
  }
}
